# # Node modules
# node_modules/

# # Env & secrets
# data.env
# Token.txt

# test.js

# dev-data/
# images/


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

client_secret_*.json
_secrets_backup/
data.env
.env
.env.*
Token.txt

insurance-frontend/node_modules/
insurance-frontend/dist/
insurance-frontend/.env
insurance-frontend/.env.*